<!DOCTYPE html>
<html>
<%- include('header') %>


<body>
    <%- include('nav'); %>
    <div class="container">
        <h1>Welcome to our Chatroom</h1>
        <main>
            <p>Thank you for viewing our chat room backend project. You’ll need to login with Google in order to
                participate in the chat and access your profile.

                <h2>How Did We Build It?</h2>
                <ul>
                    <li>Express handles the routing</li>
                    <li>EJS for the template views</li>
                    <li>MongoDB provides the database</li>
                    <li>Passport with Google Strategy for login</li>
                    <li>Socket.io for the connections</li>
                </ul>

                <p>An API from Codetabs is used for counting the total number of lines in Github. </p>

            </p>
            <div class="row p-3">
                <div class="col stats bg-secondary p-2 text-white">
                    <h3>Chat Room Facts</h3>
                    <ul>
                        <li>TOTAL MEMBERS: <span class="digital count">
                                <%= numOfUsers %> </span></li>
                        <li>TOTAL MESSAGES: <span class="digital count">
                                <%= numOfMsgs %> </span> </li>
                        <li>LINES OF CODE: <span class="digital count">
                                <%= totalLines  %> </span> </li>
                    </ul>
                </div>

                <div class="col">
                    <h2>About Our Human Makers</h2>
                    <ul>
                        <li><a href="https://www.linkedin.com/in/jordan-mateen-2a6038100/" target="blank">Jordan Mateen</a></li>
                        <li><a href="https://github.com/ronscode" target="blank">Ron Cagle</a></li>
                        <li><a href="https://github.com/Jeffrey-Hargis" target="blank">Jeff Hargis</a></li>
                    </ul>
                </div>

            </div>





        </main>
    </div>
    <script>
        $('.count').each(function () {
            $(this).prop('Counter', 0).animate({
                Counter: $(this).text()
            }, {
                duration: 2000,
                easing: 'swing',
                step: function (now) {
                    $(this).text(Math.ceil(now));
                }
            });
        });
    </script>
</body>

</html>