<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chat Room Backend Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
        <%- include('nav'); %>
            <div class="container">

                    <h1>WELCOME TO YOUR PROFILE HUMAN</h1>
                    <h2> <img src="<%= user.thumbnail %>">@<%= user.username.toUpperCase() %></h2>
                    <main>
                        <p> Welcome to your profile page! Thank you for being a registered user. If you'd like to delete any of your previous chat messages you can do so below.</p>

                            <div class="yourMessages">
                                <ul id="proList">
                                <% for (var i = 0; i < docs.length; i++){ %>
                                    
                                            <li id="profileList"><%=docs[i].timestamp.toDateString() %>:  <%= docs[i].messages %>  <a href ="/profile/msg-delete/<%= docs[i].id %>" class = 'btn btn-sm deleteButton float-right' title="<%= docs[i].id %>">Delete</a> </li>
                                            
                                    
                                    
                                <% } %>
                                </ul> 
                            </div>

                        
                        

                        
                    </main>

            </div>

    
   
</body>
</html>




