<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chat Room Backend Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
        <nav class="navbar mb-3 navbar-expand-lg navbar-light bg-light">
                <ul class="nav m-5">
                    <li class="mr-3"><a href="/" title="Welcome home, you are loved">Home</a></li>
                    <li class="mr-3"><a href="/chat" title="Let's chat about it!">Chat</a></li>
                    <li class="mr-3"><a href="/profile" title="You're simply the best">Profile</a></li>
                    <% if (user) {%>
                        <li class="mr-3"><a href="/auth/logout">Logout</a></li>
                        <% } else { %>
                        <li class="mr-3"><a href="/auth/login">Login</a></li>
                        <%} %>
         
                </ul>
            </nav>

            <div class="container">

                    <h1>WELCOME TO YOUR PROFILE </h1>
                    <h2> <img src="<%= user.thumbnail %>">Your human ID tag is: <%= user.username %></h2>
                    <main>
                        <p> extra information about you</p>
                
                        
                        <div class="yourMessages">
                            <% for (var i = 0; i < docs.length; i++){ %>
                                <li class="profileList"><%= docs[i].messages %> | <%=docs[i].timestamp.toDateString() %></li>
                                <a href ="/profile/msg-delete/<%= docs[i].id %>" class = 'btn btn-sm btn-danger' title="<%= docs[i].id %>">Delete</a>
                            <% } %>
                            
                        </div>
                        
                    </main>

            </div>

    
   
</body>
</html>




